<style>
    .btn{
        padding: 5px;
        border-radius: 5px;
        background-color: aquamarine;
    }
    .margin{
        margin: 10px;
    }
    .className{
        padding: 7px;
        border-radius: 5px;
    }
    .formContainer{
        margin-top: 20%;
    }
    .textArea{
        border-radius: 5px;
    }
</style>
<div style="text-align: center;" class="formContainer margin">
    <h4>Form To Create Class</h4>

    <form action="/studentDashboard/join" method="POST" class="margin">
        <input type="text" name="classCode" placeholder="Class Name" class="margin className"> 
        <input type="submit" value="Join Class" class="btn margin">
    </form>

</div>